<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        <img src="/static/img/recode_logo_inv_icon.png" width="15" height="15" />
      </a>
      <div class="form-inline pull-right">
        <form class="navbar-search" action="/search" method="post">
          <div class="input-append">
            <input class="search-query input-small" name="keyword" type="text" placeholder="" style="text-align: right" />
          </div>
          <a href="https://twitter.com/ReCodeProject" target="_blank">
            <img src="/static/img/twitter_dark.png" width="25" height="25" style="margin-left: 10px" />
          </a>
          <!-- <a href="https://github.com/matthewepler/ReCode_Project" target="_blank">
                            <img src="/static/img/github_dark.png" width="20" height="20" style="">
                        </a> -->
          <a href="mailto:info@recodeproject.com" target="_blank">
            <img src="/static/img/mail_dark.png" style="" />
          </a>
          <a href="/license" target="_blank">
            <img src="/static/img/copyright.png" width="20" height="20" style="" />
          </a>
          <a href="/guide">
            <img src="/static/img/questionmark.png" width="25" height="25" />
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
